<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :purchase %>
    <%= form.check_box :purchase %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <div class="field">
    <%= form.label :bundle_id %>
    <%= form.text_field :bundle_id %>
  </div>

  <div class="field">
    <%= form.label :quality %>
    <%= form.text_field :quality %>
  </div>

  <div class="field">
    <%= form.label :farm %>
    <%= form.check_box :farm %>
  </div>

  <div class="field">
    <%= form.label :forage %>
    <%= form.check_box :forage %>
  </div>

  <div class="field">
    <%= form.label :fish %>
    <%= form.check_box :fish %>
  </div>

  <div class="field">
    <%= form.label :artisan %>
    <%= form.check_box :artisan %>
  </div>

  <div class="field">
    <%= form.label :mine %>
    <%= form.check_box :mine %>
  </div>

  <div class="field">
    <%= form.label :monster %>
    <%= form.check_box :monster %>
  </div>

  <div class="field">
    <%= form.label :crab_pot %>
    <%= form.check_box :crab_pot %>
  </div>

  <div class="field">
    <%= form.label :misc %>
    <%= form.check_box :misc %>
  </div>

  <div class="field">
    <%= form.label :spring %>
    <%= form.check_box :spring %>
  </div>

  <div class="field">
    <%= form.label :summer %>
    <%= form.check_box :summer %>
  </div>

  <div class="field">
    <%= form.label :fall %>
    <%= form.check_box :fall %>
  </div>

  <div class="field">
    <%= form.label :winter %>
    <%= form.check_box :winter %>
  </div>

  <div class="field">
    <%= form.label :morning %>
    <%= form.check_box :morning %>
  </div>

  <div class="field">
    <%= form.label :noon %>
    <%= form.check_box :noon %>
  </div>

  <div class="field">
    <%= form.label :afternoon %>
    <%= form.check_box :afternoon %>
  </div>

  <div class="field">
    <%= form.label :night %>
    <%= form.check_box :night %>
  </div>

  <div class="field">
    <%= form.label :location_river_town %>
    <%= form.check_box :location_river_town %>
  </div>

  <div class="field">
    <%= form.label :location_river_forest %>
    <%= form.check_box :location_river_forest %>
  </div>

  <div class="field">
    <%= form.label :location_mountain_lake %>
    <%= form.check_box :location_mountain_lake %>
  </div>

  <div class="field">
    <%= form.label :location_mines %>
    <%= form.check_box :location_mines %>
  </div>

  <div class="field">
    <%= form.label :location_secret_woods %>
    <%= form.check_box :location_secret_woods %>
  </div>

  <div class="field">
    <%= form.label :location_cindersap_forest %>
    <%= form.check_box :location_cindersap_forest %>
  </div>

  <div class="field">
    <%= form.label :location_bus_stop %>
    <%= form.check_box :location_bus_stop %>
  </div>

  <div class="field">
    <%= form.label :location_beach %>
    <%= form.check_box :location_beach %>
  </div>

  <div class="field">
    <%= form.label :location_mountain %>
    <%= form.check_box :location_mountain %>
  </div>

  <div class="field">
    <%= form.label :location_railroad %>
    <%= form.check_box :location_railroad %>
  </div>

  <div class="field">
    <%= form.label :location_quarry %>
    <%= form.check_box :location_quarry %>
  </div>

  <div class="field">
    <%= form.label :location_farm %>
    <%= form.check_box :location_farm %>
  </div>

  <div class="field">
    <%= form.label :location_forest_pond %>
    <%= form.check_box :location_forest_pond %>
  </div>

  <div class="field">
    <%= form.label :location_witchs_swamp %>
    <%= form.check_box :location_witchs_swamp %>
  </div>

  <div class="field">
    <%= form.label :location_desert %>
    <%= form.check_box :location_desert %>
  </div>

  <div class="field">
    <%= form.label :sun %>
    <%= form.check_box :sun %>
  </div>

  <div class="field">
    <%= form.label :rain %>
    <%= form.check_box :rain %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
