<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Purchase:</strong>
  <%= @item.purchase %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item.quantity %>
</p>

<p>
  <strong>Note:</strong>
  <%= @item.note %>
</p>

<p>
  <strong>Bundle:</strong>
  <%= @item.bundle_id %>
</p>

<p>
  <strong>Quality:</strong>
  <%= @item.quality %>
</p>

<p>
  <strong>Farm:</strong>
  <%= @item.farm %>
</p>

<p>
  <strong>Forage:</strong>
  <%= @item.forage %>
</p>

<p>
  <strong>Fish:</strong>
  <%= @item.fish %>
</p>

<p>
  <strong>Artisan:</strong>
  <%= @item.artisan %>
</p>

<p>
  <strong>Mine:</strong>
  <%= @item.mine %>
</p>

<p>
  <strong>Monster:</strong>
  <%= @item.monster %>
</p>

<p>
  <strong>Crab pot:</strong>
  <%= @item.crab_pot %>
</p>

<p>
  <strong>Misc:</strong>
  <%= @item.misc %>
</p>

<p>
  <strong>Spring:</strong>
  <%= @item.spring %>
</p>

<p>
  <strong>Summer:</strong>
  <%= @item.summer %>
</p>

<p>
  <strong>Fall:</strong>
  <%= @item.fall %>
</p>

<p>
  <strong>Winter:</strong>
  <%= @item.winter %>
</p>

<p>
  <strong>Morning:</strong>
  <%= @item.morning %>
</p>

<p>
  <strong>Noon:</strong>
  <%= @item.noon %>
</p>

<p>
  <strong>Afternoon:</strong>
  <%= @item.afternoon %>
</p>

<p>
  <strong>Night:</strong>
  <%= @item.night %>
</p>

<p>
  <strong>Location river town:</strong>
  <%= @item.location_river_town %>
</p>

<p>
  <strong>Location river forest:</strong>
  <%= @item.location_river_forest %>
</p>

<p>
  <strong>Location mountain lake:</strong>
  <%= @item.location_mountain_lake %>
</p>

<p>
  <strong>Location mines:</strong>
  <%= @item.location_mines %>
</p>

<p>
  <strong>Location secret woods:</strong>
  <%= @item.location_secret_woods %>
</p>

<p>
  <strong>Location cindersap forest:</strong>
  <%= @item.location_cindersap_forest %>
</p>

<p>
  <strong>Location bus stop:</strong>
  <%= @item.location_bus_stop %>
</p>

<p>
  <strong>Location beach:</strong>
  <%= @item.location_beach %>
</p>

<p>
  <strong>Location mountain:</strong>
  <%= @item.location_mountain %>
</p>

<p>
  <strong>Location railroad:</strong>
  <%= @item.location_railroad %>
</p>

<p>
  <strong>Location quarry:</strong>
  <%= @item.location_quarry %>
</p>

<p>
  <strong>Location farm:</strong>
  <%= @item.location_farm %>
</p>

<p>
  <strong>Location forest pond:</strong>
  <%= @item.location_forest_pond %>
</p>

<p>
  <strong>Location witchs swamp:</strong>
  <%= @item.location_witchs_swamp %>
</p>

<p>
  <strong>Location desert:</strong>
  <%= @item.location_desert %>
</p>

<p>
  <strong>Sun:</strong>
  <%= @item.sun %>
</p>

<p>
  <strong>Rain:</strong>
  <%= @item.rain %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
